*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lightslategray;
}

main{
    width: 80%;
    position: relative;
    margin: 100px auto 0px;
    display: flex;
    justify-content: center;
}

.menu{
    flex: 1 0 auto;
    justify-content: center;
    font-size: 30px;
}
svg{
    border: 1px solid black;
    background-color: white;
}

button{
    width: 135px;
    height: 50px;
    background-color: #cfc8c8;
    color:black;
    border-radius: 10px;
    border-bottom: 5px solid black;
    transition: all 1s background-color 1s;
}
button:active{
    transform: translate(0,5px);
    background-color: rgb(128, 128, 128);
    border-bottom: 1px solid;
}

.active{
    transform: translate(0,5px);
    background-color: rgb(128, 128, 128);
    border-bottom: 1px solid;
}
#statusGame{
    height:394px;
    padding: 50px 50px;
    border-radius:10px;
    flex: 0 0 auto;
    font-size: 30px;
    background-color: #cfc8c8;
    color:black;
    border-radius: 10px;
    border: 3px solid black;
}


#startMenu{
    position: absolute;
    border-radius: 50px;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    background-color: silver;
}

#startMenu h2, #startMenu h1{
text-align: center;
}

#startMenu.hidden{
    display: none;
}
